
*{
    margin: 0;
    padding: 0;
}


.Home-Banner-Section{
    background-image: url('../../components/HomeBannerSection.jpg');
    height: 100vh;
    
    background-size: cover;
    
    
}

.Home-Banner-Section-card{
    
    width: 40%;
    box-sizing: border-box;
    margin-left: 50px;

}
.Home-Banner-Section-card-icon{
    height: 60px;
    margin: 10px;
}
.Home-Banner-Section-card-heading{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 10px;
}
.Home-Banner-Section-card-dicription{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 10px;
}




.kenburns-top-right {
	-webkit-animation: kenburns-top-right 5s ease-out both;
	        animation: kenburns-top-right 5s ease-out both;
}




.Home-Explore-Section{
    background: linear-gradient(to right,rgba(236,176,35,1) ,rgba(236,176,35,1),rgba(223,158,3,1) 38% , rgba(224,165,6,1) , rgba(232,202,28,1), rgba(232,202,28,1), rgba(232,202,28,1), rgba(232,202,28,1), rgba(232,202,28,1),rgba(236,176,35,1)  , rgba(236,176,35,1) );
    
    
}

.Home-Explore-Section-img{
    height: 350px;
    width: 100%;
    
    
}

.Home-Explore-Section-Card1{
    
    
    
}
.Home-Explore-Section-Card1-heading1{
    color: yellow;
    letter-spacing: 2px;
}
.Home-Explore-Section-Card1-heading2{
    font-size: 40px;
    color: rgb(44, 39, 39);
    font-weight: 700;
}
.Home-Explore-Section-Card1-paragraph{
    font-size: 16px;
    margin-top: 20px;
}
.Home-Explore-Section-Card1-btn1{

    height: 50px;
    width: 120px;
    border-style: none;
    background-color: yellow;
    margin: 10px;
    color: black;
    font-weight: 500;
}

.Home-Explore-Section-Card1-btn2{

    height: 50px;
    width: 120px;
    border-style: none;
    background-color: rgb(43, 43, 39);
    color: white;
    margin: 10px;
    font-weight: 500;
}
.Home-Explore-Section-Card1-btn1:hover{
    background-color:rgb(43, 43, 39) ;
    color: white;
}

.Home-Explore-Section-Card1-btn2:hover{
    background-color: yellow;
    color: black;
}



.pop-res-container{
    background-color: #f9fbfe;
    
}
.pop-res-heading1{
    color: rgb(239, 163, 10) ;
    font-weight: bold;
}
.pop-res-heading2{
    color:black ;
    
}



.HowItWorks-section{
    background-image: url('../../components/HowItWorks.jpg');
    background-size: cover;
    
    
}


.HowItWorks-section-heading1{
    color: yellow;
    letter-spacing: 2px;
    font-size: 16px;
    
    text-align: center;
}
.HowItWorks-section-heading2{
    color:White;
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
    
}
.HowItWorks-section-card-items{
   
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
    
    
}

.HowItWorks-section-card-items-img{
    height:80px;
}
.HowItWorks-section-card-items-heading{
    font-size: 30px;
    margin-top: 10px;
}
.HowItWorks-section-card-items-discription{
    font-size: 16px;
    margin-top: 10px;
}



.healthy-food-section {
    background-color: #f9fbfe;
}

.healthy-food-section-img {
    width: 100%;
    border-radius: 250px;
    
}

.healthy-food-section-heading {
    color: #183b56;
    
    font-size: 28px;
    font-weight: 700;
}

.healthy-food-section-description {
    color: #5a7184;
    
    font-size: 16px;
}


.Door-steps-section{
    padding: 100px;
}

.Door-steps-section-img{
    height: 300px;
    
   
}
.Door-steps-section-card{
    
    height: 300px;
}
.Door-steps-section-card-heading1{
    color: orange;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    
}
.Door-steps-section-card-heading2{
    color:black;
    letter-spacing: 1px;
    font-size: 30px;

    
    
}
.Door-steps-section-card-dis{
    color:grey;
    
}
.Door-steps-section-card-btn1{

    height: 50px;
    width: 120px;
    border-style: none;
    background-color: yellow;
    margin: 10px;
    color: black;
    font-weight: 500;
}

.Door-steps-section-card-btn2{

    height: 50px;
    width: 120px;
    border-style: none;
    background-color: rgb(43, 43, 39);
    color: white;
    margin: 10px;
    font-weight: 500;
}
.Door-steps-section-card-btn1:hover{
    background-color:rgb(43, 43, 39) ;
    color: white;
}

.Door-steps-section-card-btn2:hover{
    background-color: yellow;
    color: black;
}



/* ----------------------------------------------
 * Generated by Animista on 2024-1-9 13:32:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top-right
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top-right {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 16%;
              transform-origin: 84% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, -15px);
              transform: scale(1.25) translate(20px, -15px);
      -webkit-transform-origin: right top;
              transform-origin: right top;
    }
  }
  @keyframes kenburns-top-right {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 16%;
              transform-origin: 84% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, -15px);
              transform: scale(1.25) translate(20px, -15px);
      -webkit-transform-origin: right top;
              transform-origin: right top;
    }
  }
  





  /*responsive*/

  @media(max-width:768px){
    .Home-Banner-Section-card{
        text-align: start;
        
        width: 100%;
        margin-left: 5px;
    
    }
    .Home-Banner-Section-card-icon{
        height: 40px;
        width: 80%;
        
    }
    .Home-Banner-Section-card-heading{
        font-size: 20px;
        
    }
    .Home-Banner-Section-card-dicription{
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        color: white;
        margin: 10px;
    }
  }
